
<!DOCTYPE html>
<html>
    <head>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="143381467912-9mgbakvdnvmbl7535cj3i7hdv7dcq7of.apps.googleusercontent.com">
        <link rel="icon" href="/img/weather.png"></link>
        <link rel="stylesheet" href ="/css/styles.css">       
    </head>
    
    <body>
        <div class = "main-content">
            {{>header}}
            <form id="form-signIn">
                    <div class="container">
                        <h1>Forgot password?</h1>
                        <p>Reset password in two quick steps.</p>
                        <hr>
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" id="signInForm-email" required>
                        <p id="message"></p>
                        <button type="submit" class="registerbtn">Reset</button> 
                        <div class="container signin">
                            <p> <a href="SignIn">Sign in</a></p>
                        </div>
                    </div>
                </div>
            </form>
    </body>
</html>

           
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Add</title>
</head>
<body>

    
        
        {{>footer}}
        
        <script  src="/js/forgotPasswordEmail.js"></script>
        
    </body>
    </html>
    
    
    
    
    