


    
    
  
    
    <!DOCTYPE html>
<html>
    <head>
        
        <link rel="icon" href="/img/weather.png"></link>
        <link rel="stylesheet" href ="/css/styles.css"> 
        
        </head>
    
    <body>
        <div class = "main-content">
            {{>header}}
            <form id="form-message">
  <div class="container">
    <h1>Reset password</h1>
    <p>Reset password in two quick steps.</p>
    <hr>

    

    <label for="npsw"><b>New password</b></label>
    <input type="password" placeholder="Enter Password" name="npsw" id="newPasswordReset" required>

    <label for="rnpsw"><b>Confirm password</b></label>
    <input type="password" placeholder="Enter Password" name="rnpsw" id="confirmPasswordReset" required>
    
    <hr>
    <button type="submit" class="registerbtn">Reset password</button>
  </div>
  

</form>
 <div class="container signin">
    <p> <a href="SignIn">Sign in</a></p>
    
  </div>
<p id="message"></p>
</body>
</html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Add</title>
</head>
<body>

    
        
        {{>footer}}
        <script   src="/js/forgotPasswordReset.js"></script>
    </body>
    </html>
    
    
    
    
    