
<html>
  <head>
      <link rel="stylesheet" href ="/css/headerStyles.css"> 
      <title>Title of the document</title>
  </head>
   <body>
        <header>
          <div class="topnav">
            <a class="active" href="#home">Home</a>
            <div id="loginLogoutNavBarId" class="topnav-right">  </div>
          </div>
      </header>
    <script  src="/js/header.js"></script>
  </body>
</html>
